body {
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
}

header {
    grid-column: 1 / 4;
    background-color: RGB(50, 50, 50);
    color: white;
}

header nav {
    display: flex;
    justify-content: space-around;
    background-color: black;
    color: white;
}

main {
    grid-column: 1 / 3;
    background-color: RGB(125, 125, 125);
}

aside {
    grid-column: 3 / 4;
}

footer {
    grid-column: 1 / 4;
    background-color: RGB(50, 50, 50);
    color: white;
    text-align: center;
}

header h2,
main,
aside,
footer {
    padding: 20px 30px 0px 30px;
}