:root {
    --background-color-1: #1c6e8c;
    --background-color-2: #7fdeff;
    --header-color-1: #d0ccd0;
    --header-color-2: #fbfcff;
    --footer-color: #605856;
}

* {
    margin: 0px;
    padding: .25em 0px .25em 0px;
}

body {
    font-family: 'Quicksand', Arial, sans-serif;
    max-width: 1200px;
    display: block;
    margin: auto;
}

header {
    background-color: var(--background-color-2);
}

header span {
    display: block;
    text-align: center;
    color: black;
}

#course-title {
    font-size: 3em;
}

main {
    display: inline-grid;
    grid-template-columns: 4fr 1fr;
    background-color: var(--background-color-1);
    color: var(--header-color-2);
}

main h1 {
    grid-column: 1/3;
    font-size: 3em;
    justify-self: center;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
}

nav ul li {
    flex: 1 1 100%;
    font-size: 2em;
}

nav a {
    display: block;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
    color: var(--heading-color-2)
}

nav a:hover,
.card-resources ul a:hover {
    text-decoration: underline;
}

.card .card-resources {
    grid-column: 1/2;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.aboutme {
    grid-column: 1/3;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.aboutme h2,
.destination h2 {
    grid-column: 1/3;
    justify-self: center;
    font-size: 2.5em;
}

.havasu {
    width: 75%;
    grid-column: 2/3;
    justify-self: center;
}

.aboutme p {
    grid-column: 1/2;
    grid-row: 2/3;
}

.destination {
    grid-column: 1/3;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.destination figure {
    display: block;
    grid-column: 1/2;
    grid-row: 2/3;
}

.map {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

figcaption {
    text-align: center;
}

.destination p {
    grid-column: 2/3;
}

.destination p,
.aboutme p {
    align-self: center;
    padding: 4em;
    font-size: 20px;
}

.card-resources {
    grid-column: 2/3;
}

.card-resources h2 {
    justify-self: center;
}

.card-resources ul {
    list-style-type: circle;
    padding: 0px;
}

.card-resources ul li {
    padding: 1.5em 0px 1.5em 0px;
}

.card-resources ul a {
    text-decoration: none;
    color: var(--heading-color-1);
    font-size: 1.5em;
}

footer {
    max-width: 1200px;
    justify-self: center;
    justify-items: center;
    width: 100%;
    background-color: var(--footer-color);
    color: var(--heading-color-2);
}