:root {
    background-color: rgb(190, 255, 255);
}

@media screen and (max-width: 850px) {
    .mobile-hide {
        display: none;
    }
}

main,
header,
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero {
    display: block;
    top: 0;
    left: 0;
    min-width: 250px;
    width: 70%;
    height: auto;
    object-fit: cover;
    z-index: -1;
    justify-self: center;
}

footer {
    margin: 10px auto;
}

footer p {
    margin: 4px auto;
}

table {
    width: 70%;
    margin: 0 auto;
}

.weather,
.data {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    min-width: 250px;
    width: 70%;
}

.weather-icon {
    height: 50px;
    width: 50px;
}

th {
    font-size: 30px;
}