@media (min-width: 850px) {

    header {}

    body,
    html {
        height: 100%;
    }

    main {
        position: relative;
        width: 100%;
        height: 800px;
        overflow: hidden;
        flex: 1;
    }

    .hero {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
    }

    .weather,
    .data {
        display: flex;
        position: absolute;
        opacity: 0.85;
        padding: 5px;
        width: auto;

    }

    .data {
        top: 5%;
        left: 2rem;
    }

    .weather {
        bottom: 10%;
        right: 2rem;
    }

    .weather-row {
        display: none;
    }

    .weather-table th::after {
        content: "☀️";
        font-size: 30px;
        display: block
    }
}