:root {
    background-color: rgb(190, 255, 255);
}

header,
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

footer {
    margin: 10px auto;
}

footer p {
    margin: 4px auto;
}

.weather,
.data {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

th {
    font-size: 30px;
}