@media (min-width: 600px) {
    header {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    #menu {
        display: none;
    }

    nav ul {
        justify-content: flex-end;
        flex-direction: row;
    }

    nav li {
        display: block;
    }

    nav a {
        flex: 1 1 100%;
    }

    main {
        display: inline-grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: .5em;
    }

    main h1 {
        grid-column: 1/4;
        justify-self: center;
    }
}