:root {
    --background-color-1: #1c6e8c;
    --background-color-2: #7fdeff;
    --header-color-1: #d0ccd0;
    --header-color-2: #fbfcff;
    --footer-color: #605856;
}

* {
    margin: 5px auto;
    padding: .25em 0px .25em 0px;
}

body {
    font-family: 'Quicksand', Arial, sans-serif;
    max-width: 1200px;
    margin: auto;
    background-color: var(--background-color-1);
}

header {
    background-color: var(--header-color-2);
    max-width: 1200px;
    justify-self: center;
    justify-items: center;
    width: 100%;
    color: var(--background-color-1)
}

header span {
    display: block;
    text-align: center;
}

#temple {
    font-size: 3em;
}

#menu {
    list-style: none;
    display: flex;
    flex-direction: column;
    border: 0px;
    padding: 0px;
    position: absolute;
    top: 3rem;
    right: 2rem;
    font-size: 2.5rem;
    background-color: var(--background-color-2);
}

nav,
ul,
li,
a {
    margin: 2px;
    padding: 1px;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
}

nav ul li {
    flex: 1 1 100%;
    font-size: 2em;
}

nav a {
    display: none;
    text-align: center;
    text-decoration: none;
    color: var(--background-color-1);
}

.open a {
    display: block;
}

#menu::before {
    content: "≡";
}

#menu.open::before {
    content: "⨉";
}

nav a:hover {
    text-decoration: underline;
}

.photo-album {
    max-width: 1200px;
    justify-self: center;
    justify-items: center;
    width: 100%;
    margin: 0;
    display: grid;
    grid-template-columns: auto;
    gap: 5px;
    color: var(--header-color-2);
}



main h1 {
    grid-column: 1/-1;
    text-align: center;
    font-size: 2.5em;
}

figure {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

figcaption {
    text-align: center;
    font-size: large;
}

footer {
    max-width: 1200px;
    justify-self: center;
    justify-items: center;
    width: 100%;
    background-color: var(--footer-color);
    color: var(--header-color-2);
}